{% extends 'tracker/base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Settings</h2>

    <div class="card shadow-sm p-4">
      <h5>Profile Settings</h5>

      <form method="post" novalidate>
        {% csrf_token %}
        
        <div class="mb-3">
          <input
            type="number"
            name="age"
            value="{{ profile.age }}"
            placeholder="Age"
            class="form-control rounded-pill px-4"
            required
            min="1"
          >
        </div>
        
        <div class="mb-3">
          <input
            type="number"
            step="any"
            name="height_cm"
            value="{{ profile.height_cm }}"
            placeholder="Height (cm)"
            class="form-control rounded-pill px-4"
            required
            min="1"
          >
        </div>
        
        <div class="mb-3">
          <input
            type="number"
            step="any"
            name="weight_kg"
            value="{{ profile.weight_kg }}"
            placeholder="Weight (kg)"
            class="form-control rounded-pill px-4"
            required
            min="1"
          >
        </div>

        <button type="submit" class="btn btn-primary w-100 rounded-pill">Update Profile</button>
      </form>

    </div>
    
    <div class="card shadow-sm p-4 mb-4">
      <h5>Account Settings</h5>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item">
          <a href="{% url 'password_reset' %}">Reset Password (Forgot Password)</a>
        </li>
      </ul>

      <div class="d-flex gap-2">
        <a href="{% url 'password_change' %}" class="btn btn-warning">Change Password</a>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
      </div>
    </div>

    
  </div>
</div>
{% endblock %}
